
body {
    margin: 0;
    font-family: Courier New, sans-serif;
    
  }

  .section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    
  }
  #icon{
    padding: 10px;
    height: 75px;
  }
  #intro {
    background-color:#F1EFE7;
    flex-direction: row;

      }
  
  #projects {
    background-color:#F1EFE7
    ;  }
  
  #contact {
    background-color:#F1EFE7
    ;  }
  
  .hidden {
    opacity: 0;
    transform: translateX(20%);
    transition: opacity 1s, transform 1.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .visible {
    opacity: 1;
    
    transform: translateX(0);
  }

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    background-color:#F1EFE7
    ;
    
}
.navbar li{
  margin:20px;
  border-radius: 6px;
  padding: 5px;
  height: 30px;
  width: 100px;
  border:1px solid transparent;
  align-items: center;
  justify-content: center;
  color: rgb(56, 53, 53);
  
}
.active{
  border-radius: 6px;
  padding: 5px;
  height: 30px;
  width: 100px;
  border:3px solid white;
  align-items: center;
  justify-content: center;
  color: rgb(56, 53, 53);
}

.navbar li a{
  text-decoration: none;
  color: rgb(0, 0, 0);

}
.navbar *{
  display: inline-flex;
}